*{
  box-sizing: border-box;
}
.notification{
  border: 2px solid rgb(48, 245, 48);
 display: inline-block;
  border-radius: 5px;
 
  padding: 10px;
  text-align: center;
  margin: 10px auto;
}

.important{
  border: 4px solid rgb(245, 110, 48);
 display: inline-block;
  border-radius: 5px;
 
  color: rgb(223, 6, 6);
  padding: 10px;
  text-align: center;
  margin: 10px auto;
}